<div class="container text-center">
  <!-- div class="col-sm-4 text-center">
    <h2 class="text-center">PIE chart using Chartjs and Angular 6</h2>
    <canvas baseChart
          [data]="chartData"
          [labels]="chartLabels"
          [chartType]="chartType"
          [options]="chartOptions"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
    </canvas>
  </div-->
  <div>
    <canvas baseChart 
    [datasets]="lchartData" 
    [labels]="lchartLabels" 
    [options]="lchartOptions" 
    [legend]="lchartLegend"
    [chartType]="lchartType"
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)">
    </canvas>
  </div>
  <div style="display: block">
    <canvas baseChart 
    [datasets]="barChartData" 
    [labels]="barChartLabels" 
    [options]="barChartOptions" 
    [legend]="barChartLegend"
    [chartType]="barChartType"
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)">
    </canvas>
  </div>
</div>